<%- include('partials/header'); %> 
<% if (locals.errors && locals.errors.profile) { %>
	<% locals.errors.profile.forEach(function(error) { %>
		<p class="alert alert-primary" role="alert"><%= error %></p>
	<% }) %>
<% } %>
<% if (locals.errors && locals.errors.password) { %>
	<% locals.errors.password.forEach(function(error) { %>
		<p class="alert alert-primary" role="alert"><%= error %></p>
	<% }) %>
<% } %>
<form action="/account" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputPassword1">Username</label>
    <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Display Name" value=" <%= locals.user.displayName %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email" value=" <%= locals.user.email %>">
  </div>
  <% if (locals.user.photoURL) { %>
    <p class="avatar">
       <img src="<%= locals.user.photoURL %>" alt="" width="250px">
    </p>
  <% } %>
  <div class="form-group">
    <label for="exampleFormControlFile1">Avatar</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="avatar">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
  <form action="/password" method="post">  
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password Confirm</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="passwordConfirm" placeholder="Confirm Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>  
<%- include('partials/footer'); %>